
 .clear{
    clear: both;
    height: 1px;
}
.book_page{
    width: 80%;
    margin: auto;
    position: relative;
    margin-bottom: 100px;
    background-color: white;
    padding: 2%;
    padding-left: 2%;
   
    .inline{
        display: inline-block;
    }
    .page_title{
        font-size: 2.7rem;
        text-align: center;
        margin-bottom: 4%;
        color: #005388;
        font-family: 'Poiret One', cursive;
    }
    .page_info{
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
    }
    h2{
        font-size: 2rem;
        color :#46a48c;
        margin-bottom: 1rem;
    }
    
    h3{
        font-size: 2rem;
        color :#46a48c;
        margin-bottom: 1rem;
        font-family: 'Poiret One', cursive;
    }
    .star_container{
        width: 200px;
        height: 20px;
        //background-color: blueviolet;
        float: left;
        margin-top: 10px;
        #star{
            height: 20px;
            width: 20px;
            background-size: 100%;
            float: left;
            margin-right: 5px;
            cursor: pointer;
        }
    }
    .price_container{
        margin-top: 60px;
    }
    #page_price{
        font-size: 3.1rem;
        display:inline-block;
        margin-right: 30px;
    }
    #page_buy{
        display: inline-block;
        border-radius: 5px;
        width: 95px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 1.8rem;
        font-family: 'Poiret One', cursive;
        color: white;
        background: #1ABC9C;
        opacity: 0.7;
        //position: absolute;
        top: 26rem;
        right: 20rem;
        text-decoration: none;
        transition: .2s linear;
        display:inline-block;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
      }

    
    .page_description{
        font-size: 1.6rem;
        text-align: justify;
        width: 65%;
        float: left;
        text-indent: 1.5rem;
        //max-height: 270px;
        margin-bottom: 2%;
        margin-right: 5%;
        //overflow-y: scroll;
    }
    .similar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 30%;
        border: 1px solid #CCC;
        background-color: #fcfcfc;
        border-radius: 10px;
        padding: 8px;
        margin-right: 2px;
        margin-bottom: 20px;
        a{
            text-decoration: none;
            color: black;
        }
        .small_book{
            width: 100px;
            min-height: 125px;
            // background-color: lightblue;
            box-shadow: 0 0 5px #888;
            margin-bottom: 6px;
            padding: 5px;
            #imeg{
                width: 74%;
                height: 100px;;
            }
        }
    }
    #imeg2{
        width: 20%;
        min-width: 200px;
        height: auto;
        margin-bottom: 2%;
        //margin-left: 8%;
        float: left;
        display: block;
        margin-right: 5%;
        
    }
    p{
    }
    .review{
        border: 1px solid rgb(169, 169, 169);
        //width: 30%;
        padding: 15px;
        display: inline-block;
        margin-bottom: 2rem;
        input{
            display: block;
            padding: 3px 7px;
            margin-bottom: 1rem;
        }
        textarea{
            display: block;
            resize: vertical;
            width: 50rem;
            margin-bottom: 1rem;
            padding: 7px 5px;

            
        }
        button{
            padding: 5px 8px;
            background-color: white;
            outline: none;
            border: 1px solid rgb(169, 169, 169);
            cursor: pointer;
            font-family: 'Poiret One';
            font-weight: bold
        }
    }

    .comment{
        margin-bottom: 1rem;
        width: 80%;
        padding: 5px;
        box-sizing: border-box;
        .comment_name{
            margin-right: 38rem;
            color: #46a48c;
            font-size: 1.6rem
        }
        .comment_data{
            //float: right;
            font-size: 1.5rem;
            margin-bottom: .5rem;
            

        }
        .comment_title{
            font-size: 1.7rem;
            margin-bottom: .5rem;
           

            
        }
        .comment_desc{
            font-size: 1.5rem;
            max-width: 500px;
            min-height: 50px;
            word-wrap: break-word;
            padding-bottom: 0.7rem;
            border-bottom: 2px solid #eee;
            .likes{
                width: 100%;
                height: 30px;
                //background-color: rgb(140, 184, 140);
                margin-top: .5rem;
                .like{
                    width: 30px;
                    height: 30px;
                    //background-color: red;
                    float: right;
                    background-size: 100%;
                    border-right: 1px solid #eee;
                    cursor: pointer;
                    
                }
                .disslike{
                    width: 30px;
                    height: 30px;
                    //background-color: green;
                    float: right;
                    background-size: 100%;
                    background-position-y: 3px;
                    cursor: pointer;
                    
                }
            }
        
        }
    }

}
